@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap');

.container-filme {
    position: relative;
    top: 50px;
    background-color: #10151F;
    border: solid 1px #ffffff;
    height: 550px;
    width: 300px;
    display: flex;
}

.img-container {
    position: relative;
    width: 300px;
    height: 400px;
}

.imagem {
    position: relative;
    width: 300px;
    height: 400px;
}

.nome-filme {
    position: absolute;
    top: 390px;
    left: 20px;
    
    color: #FFFFFF;
    font-size: 25px;
    font-family: Raleway;
}

.genero-filme {
    position: absolute;
    top: 440px;
    left: 20px;
    color: #ffffff;
    font-family: Raleway;
}

.ano-filme {
    position: absolute;
    top: 460px;
    left: 20px;
    color: #fffFFF;
    font-family: Raleway;
}

.idioma-filme {
    position: absolute;
    top: 480px;
    left: 20px;
    color: #fffFFF;
    font-family: Raleway;
}

.diretor-filme {
    position: absolute;
    top: 500px;
    left: 20px;
    color: #fffFFF;
    font-family: Raleway;
}